body{
    --color: white;
    --bg-color: #131313;
    --textShadow: rgba(255, 255, 255, 0.41);
    --trackColor: #929292;
    --textShadowTwo: #D81515;
    --boxShadow: rgba(255, 255, 255, 0.63);
    --textShadowThree: #1B1616;
    --allCashBg: #f5d98c;
    --navColor: rgb(58, 58, 58);
    --popupColor: var(--navColor);
    --borderColor: var(--color);
    --navObjects: #222;
    --boxShadowTwo: rgba(0, 0, 0, 0.25);
    --liActive: rgb(9, 9, 9);
}