body{
    --color: white;
    --bg-color: black;
    --two: #131313;
    --textShadow: rgba(255, 255, 255, 0.41);
    --trackColor: #929292;
    --textShadowTwo: #D81515;
    --boxShadow: rgba(255, 255, 255, 0.63);
    --textShadowThree: #1B1616;
    --allCashBg: #f5d98c;
}