body{
    --color: black;
    --bg-color: rgb(233, 233, 233);
    --trackColor: #929292;
    --textShadowTwo: #a30d0d;
    --boxShadow: rgba(12, 12, 12, 0.63);
    --textShadowThree: #1B1616;
    --allCashBg: #f5d98c;
    --navColor: rgb(58, 58, 58);
    --navObjects: #222;
    --boxShadowTwo: rgba(0, 0, 0, 0.25);
    --liActive: rgb(9, 9, 9);
}